@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: 'Roboto', sans-serif;

  #outer-container {
    display: flex;
    flex-direction: row;
  }

  #sidebar {
    max-width: 250px;
    min-width: 250px;
    font-size: 16px;
    color: #fff;
    background-color: #42A5F5;
    -webkit-transition: max-width 0.5s ease, min-width 0.5s ease;
    -moz-transition: max-width 0.5s ease, min-width 0.5s ease;
    -o-transition: max-width 0.5s ease, min-width 0.5s ease;
    transition: max-width 0.5s ease, min-width 0.5s ease;

    .sidebar-header {
      padding: 20px;

      img {
        max-width: 100%;
        border: solid #fff 3px;
        border-radius: 50%;
      }

      h2 {
        text-align: center;

        &.name {
          display: none;
        }
      }
    }

    .sidebar-body {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      border-bottom: 1px solid #fff;

      > li {
        &:last-child {
          margin-bottom: 5px;
        }

        a {
          position: relative;
          display: block;
          padding: 10px 10px 10px 20px;
          color: inherit;
          text-decoration: none;

          span {
            margin-right: 15px;

            &.glyphicon.glyphicon-chevron-up, &.glyphicon.glyphicon-chevron-down {
              position: absolute;
              top: 14px;
              right: 10px;
            }
          }
        }

        > span {
          display: block;

          .dropdown {
            list-style-type: none;
            padding-left: 0;
            background-color: #42A5F5;

            li {
              a {
                padding: 10px 10px 10px 51px;
              }

              &:hover {
                background-color: #FFA726;
              }
            }
          }

          .dropdown-enter {
            max-height: 0;
            overflow: hidden;
            transition: max-height 500ms ease;
          }

          .dropdown-enter.dropdown-enter-active {
            max-height: 125px;
          }

          .dropdown-leave {
            max-height: 125px;
            transition: max-height 500ms ease;
          }

          .dropdown-leave.dropdown-leave-active {
            max-height: 0;
            overflow: hidden;
          }
        }

        &:hover {
          background-color: #FF9800;
        }
      }
    }

    > a {
      margin: 15px 8.7px;
    }

    .sidebar-footer {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      border-top: 1px solid #fff;
      text-align: center;

      li {
        margin: 15px 30px;

        a {
          display: block;
          padding: 10px;
          color: inherit;
          border-radius: 5px;
          background-color: #9C27B0;
          text-decoration: none;
        }
      }
    }

    &.sidebar-active {
      max-width: 80px;
      min-width: 80px;

      .sidebar-header {
        h2 {
          display: none;

          &.name {
            display: block;
          }
        }
      }

      .sidebar-body {
        > li {
          a {
            padding-left: 10px;
            text-align: center;

            span {
              display: block;
              margin-right: 0;
              margin-bottom: 5px;

              &.glyphicon.glyphicon-chevron-down, &.glyphicon.glyphicon-chevron-up {
                margin-top: 5px;
                position: static;
              }
            }
          }

          > span {
            .dropdown {
              li {
                a {
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }

      > a {
        display: block;
        margin: 15px auto;
      }

      .sidebar-footer {
        display: none;
      }
    }
  }

  #inner-container {
    // flex: 1 1 100%;
    // display: flex;
    // flex-direction: column;
    background-color: #FF5722;
    width: 100%;

    #navbar {
      position: relative;
      // flex: 1 1 auto;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      width: 100%;
      height: 100px;
      color: #fff;
      font-size: 16px;

      .navbar-header {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: calc(70% - 5px);
        height: 50px;
        // flex: 1 1 70%;
        margin-left: 5px;

        button {
          height: 50px;
          background-color: #42A5F5;
          outline: none;
        }

        i, a {
          display: none;
        }
      }

      .navbar-body {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 30%;
        height: 50px;
        // flex: 1 1 30%;
        // display: flex;
        // flex-direction: row;
        padding-left: 0;
        padding-right: 5px;
        margin-bottom: 0;
        text-decoration: none;

        li {
          position: relative;
          display: inline-block;
          // margin-left: 5px;
          // margin-right: 5px;
          width: 25%;
          height: 50px;

          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: inherit;
            text-decoration: none;
          }

          &:hover {
            background-color: #FF9800
          }
        }
      }
    }

    #main-content {
      // flex: 1 1 auto;
      position: relative;
      display: flex;
      flex-flow: row wrap;

      .item {
        flex: 1 1 calc(25% - 10px);
        // position: relative;
        height: calc(46vh - 10px);
        padding: 5px;
        margin: 5px;
        border: 3px solid #9C27B0;
        background-color: #FF7043;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }

        // p {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   font-size: 32px;
        //   font-weight: bold;
        //   font-style: italic;
        // }

        // &:nth-child(2) {
        //   flex-grow: 2;
        // }
      }

      img {
        max-width: 100%;
      }
    }
  }

  @import "media-query";
}
