@media screen and (max-width: 1200px) {
  #inner-container {
    #main-content {
      .item {
        flex: 1 1 calc(50% - 10px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #sidebar {
    max-width: 80px;
    min-width: 80px;

    .sidebar-header {
      h2 {
        display: none;

        &.name {
          display: block;
        }
      }
    }
  }

  #inner-container {
    #main-content {
      .item {
        flex: 1 1 calc(100% - 10px);
      }
    }
  }
}
